In [1]:
## loading and preprocessing
import numpy as np
import pandas as pd

### Loading Dataset

In [10]:
## lets load data

iris_data = pd.read_excel("dataset/Iris_data_sample.xlsx")

## create a deep copy
iris_df = iris_data.copy()

In [11]:
## Lets view first five (5) rows

iris_df.head()

,Unnamed: 0,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,NaN,1.4,0.2,NaN
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,??,3.1,1.5,0.2,Iris-setosa
4,5,5,3.6,###,0.2,Iris-setosa

In [12]:
iris_df.tail()

,Unnamed: 0,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [13]:
iris_df.columns

Index(['Unnamed: 0', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm',
       'PetalWidthCm', 'Species'],
      dtype='object')

In [14]:
iris_df.dtypes

Unnamed: 0         int64
SepalLengthCm     object
SepalWidthCm     float64
PetalLengthCm     object
PetalWidthCm     float64
Species           object
dtype: object

In [15]:
iris_df.isnull().sum()

Unnamed: 0       0
SepalLengthCm    0
SepalWidthCm     1
PetalLengthCm    1
PetalWidthCm     0
Species          1
dtype: int64

In [16]:
## Checking total number of rows and colums

print(f' the total number of rows: {iris_df.shape[0]}, total number of columns: {iris_df.shape[1]}')

 the total number of rows: 150, total number of columns: 6

In [ ]:
## Lets get info about data frame

iris_df.shape

(150, 6)

In [ ]:

iris_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     150 non-null    int64
 1   SepalLengthCm  150 non-null    object
 2   SepalWidthCm   149 non-null    float64
 3   PetalLengthCm  149 non-null    object
 4   PetalWidthCm   150 non-null    float64
 5   Species        149 non-null    object
dtypes: float64(2), int64(1), object(3)
memory usage: 7.2+ KB

In [21]:
## Lets check got uniquiness in the colums

for col in iris_df.columns:
    print(col)
    print(iris_df[col].unique())

Unnamed: 0
[  1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17  18
  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35  36
  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53  54
  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71  72
  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89  90
  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107 108
 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125 126
 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143 144
 145 146 147 148 149 150]
SepalLengthCm
[5.1 4.9 4.7 '??' 5 5.4 4.6 4.4 4.8 4.3 5.8 5.7 5.2 5.5 4.5 5.3 7 6.4 6.9
 6.5 6.3 6.6 5.9 6 6.1 5.6 6.7 6.2 6.8 7.1 7.6 7.3 7.2 7.7 7.4 7.9]
SepalWidthCm
[3.5 nan 3.2 3.1 3.6 3.9 3.4 2.9 3.7 3.  4.  4.4 3.8 3.3 4.1 4.2 2.3 2.8
 2.4 2.7 2.  2.2 2.5 2.6]
PetalLengthCm
[1.4 1.3 1.5 '###' nan 1.6 1.1 1.2 1.7 1 1.9 4.7 4.5 4.9 4 4.6 3.3 3.9 3.5
 4.2 3.6 4.4 4.1 4.8 4.3 5 3.8 3.7 5.1 3 6 5.9 5.6 5.8 6.6 6.3 6.1 5.3 5.5
 6.7 6.9 5.7 6.4 5.4 5.2]
PetalWidthCm
[0.2 0.4 0.3 0.1 0.5 0.6 1.4 1.5 1.3 1.6 1.  1.1 1.8 1.2 1.7 2.5 1.9 2.1
 2.2 2.  2.4 2.3]
Species
['Iris-setosa' nan 'Iris-versicolor' 'Iris-virginica']

In [22]:
## Checking for missing valus

iris_df.isnull().sum()

Unnamed: 0       0
SepalLengthCm    0
SepalWidthCm     1
PetalLengthCm    1
PetalWidthCm     0
Species          1
dtype: int64

## Data Preprocessingf - stage 1
- drop the unnamed: 0
- rename all col names to lowercase
- Normalise the columns
- replace missing values

In [24]:
## Rename all colums to lowercase
iris_df.columns = iris_df.columns.str.lower()

In [25]:
iris_df.columns

Index(['unnamed: 0', 'sepallengthcm', 'sepalwidthcm', 'petallengthcm',
       'petalwidthcm', 'species'],
      dtype='object')

In [30]:
## Remove unnamed column

iris_df = iris_df.drop(columns=['unnamed: 0'], axis=1)

In [31]:
iris_df

    sepallengthcm  sepalwidthcm petallengthcm  petalwidthcm         species
0             5.1           3.5           1.4           0.2     Iris-setosa
1             4.9           NaN           1.4           0.2             NaN
2             4.7           3.2           1.3           0.2     Iris-setosa
3              ??           3.1           1.5           0.2     Iris-setosa
4               5           3.6           ###           0.2     Iris-setosa
..            ...           ...           ...           ...             ...
145           6.7           3.0           5.2           2.3  Iris-virginica
146           6.3           2.5             5           1.9  Iris-virginica
147           6.5           3.0           5.2           2.0  Iris-virginica
148           6.2           3.4           5.4           2.3  Iris-virginica
149           5.9           3.0           5.1           1.8  Iris-virginica

[150 rows x 5 columns]

In [ ]:
## Normalise the sepallength or converting to numeric
iris_df['sepallengthcm'] = pd.to_numeric(iris_df['sepallengthcm'], errors='coerce')

In [33]:
## Normalise the petallength or converting to numeric
iris_df['petallengthcm']= pd.to_numeric(iris_df['petallengthcm'], errors='coerce')

In [34]:
iris_df.dtypes

sepallengthcm    float64
sepalwidthcm     float64
petallengthcm    float64
petalwidthcm     float64
species           object
dtype: object

In [35]:
iris_df.isnull().sum()

sepallengthcm    1
sepalwidthcm     1
petallengthcm    2
petalwidthcm     0
species          1
dtype: int64

In [37]:
## Replacing missing values

iris_df['sepallengthcm'] = iris_df['sepallengthcm'].fillna(iris_df['petallengthcm'].mean())
iris_df['petallengthcm'] = iris_df['petallengthcm'].fillna(iris_df['petallengthcm'].mean())
iris_df['sepalwidthcm'] = iris_df['sepalwidthcm'].fillna(iris_df['sepalwidthcm'].mean())

In [38]:
## Replacing missing values of Species as category/object
iris_df['species'] = iris_df['species'].fillna(iris_df['species'].mode())

In [39]:
iris_df.isnull().sum()

sepallengthcm    0
sepalwidthcm     0
petallengthcm    0
petalwidthcm     0
species          0
dtype: int64

In [40]:
## saving cleansed data
iris_df.to_csv('cleansed_iris_dataset', index=False)